@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500;600&display=swap");

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    font-family: "Inter", sans-serif;
}

.font-jakarata {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.css-vjzf4n-appContent {
    margin: 0 auto !important;
    height: 100vh;
}
.css-7nk25y-title {
    visibility: hidden;
}
.css-1leat8z {
    background: #121615;
}
.css-3id0jj-fadeOverlayTop,
.css-12eqypu-fadeOverlay {
    background-image: none !important;
}
.css-1ixwcgd-container {
    display: none !important;
}
.css-4qv8pm-connectWallet {
    background-color: #a169f7 !important;
    color: #121615 !important;
    border-radius: 4px !important;
    padding: 0.25rem 1rem !important;
}

.separator-line {
    background: radial-gradient(2245710.82% 73.93% at 50% 50.07%, #bebebe 0%, rgba(190, 190, 190, 0) 100%);
    max-width: 400px;
    height: 1px;
}

#MAYAN_SWAP_PV_ROOT {
    background: transparent !important;
}
.bg-gradient {
    background: linear-gradient(130.38deg, rgb(91 64 156) -58.7%, rgb(0, 1, 2) 98.1%);
}
